body{top:0;right:0;bottom:0;left:0;margin:0;padding:0;background-color:#fcfcfc;color:#777;font-weight:300;font-size:.3rem;font-family:'microsoft yahei';line-height: 1.42857143}
li,ul{margin:0;padding:0;list-style-type:none;}
p{margin:0;}
a{color:#777;}
a:link{color:#777;text-decoration:none;}
a:visited{color:#777;text-decoration:none;}
a:active{color:#777;text-decoration:none;}
button{outline:0;filter:chroma(color=#000000);}
input{background-color:#fcfcfc!important;color:#777!important;font-size:.3rem!important;}
input::-webkit-inner-spin-button,input::-webkit-outer-spin-button{-webkit-appearance:none;}
input[type=number]{-moz-appearance:textfield;}
input[type=checkbox],input[type=radio]{margin-top:.3333333333rem;}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{padding: 0;}
canvas#c{cursor:pointer;}
.indexWindow{position:absolute;overflow:hidden;width:100%;height:100%;}
.indexWindow a,.indexWindow p{text-shadow:0 0 2px rgba(0, 0, 0, 0.5);}
.indexWindow .swiper-container{width:100%;height:100%;}
.indexWindow .swiper-slide{position:relative;overflow:hidden;background-position:center;background-size:cover;background-repeat:no-repeat;}
.indexWindow .swiper-slide.usBanner{background-size: 100% 100%;}
.indexWindowBanner.first{pointer-events: none;}
.indexWindowBanner{position:absolute;top:50%;left:50%;margin:-2.5rem 0 0 -25%;width:50%;color:#fcfcfc;}
.indexWindowBanner>p:nth-child(1){text-shadow:0 0 10px rgba(0,0,0,.5);font-weight:700;font-size:1.5rem;}
.usBanner>.indexWindowBanner>p:nth-child(1){opacity: 0; z-index:99999}
.indexWindowBanner>p:nth-child(2){margin:.25rem 0 .45rem 0;font-size:.6rem;}
.indexWindow .pageTop{color:#fcfcfc !important;position:absolute!important;z-index:2!important;width:100%;background-color:transparent!important;box-shadow: none!important}
.indexWindow .pageTop>div>.navigation>:not(div){color:#fcfcfc;}
footer{bottom: 0px; width: 100%; background-color: rgb(6, 6, 6); color: rgb(119, 119, 119); text-align: center; margin: 0px; padding: 0.5rem 0px;}
.indexWindow footer{position:absolute;padding:0 0 .75rem 0;z-index:1;color:#fcfcfc;background-color:transparent;}
.indexWindow p.more>a{pointer-events: visible;color:#f6f6f6;display:inline-block;padding:.25rem .8rem!important;text-shadow: none;border-color:#078ddc;background-color:#078ddc;color:#fcfcfc;font-size:.3rem;line-height:.5rem;transition:.3s;}
.indexWindow p.more>a:hover{border-color:#f6f6f6;background-color:#f6f6f6;color:#111;}
.logoArea{float:left;display:table;height:.6rem;}
.logoArea>:not(div){float:left;height: 0.5rem;line-height: 0.5rem;}
.logoArea img{margin-top:-.125rem;margin-right:.75rem;height:.8rem;}
.logoArea>p{padding:0 .5rem;height:.5rem;border-left:1px solid;line-height:.5rem;}
.logoArea>p>i{float:left;margin-top:.125rem;margin-right:5px;font-size:.8rem;line-height:.25rem;}
.logoArea>p>span{color: #fcfcfc;font-size: .4rem;}
.pageTop{position:fixed;top:0;z-index:100;cursor:pointer;width:100%;background-color:rgba(255,255,255,.8);box-shadow:0 0 10px rgba(0,0,0,.1);font-size:.35rem;}
.pageTop>div{position:relative;display:table;margin:auto;height:1.75rem;line-height:1.75rem;}
.pageTop>div>.navigation{float:right;}
.pageTop>div>.navigation>a{float:left;border-top:0.075rem solid transparent;border-bottom:0.075rem solid transparent;cursor:pointer;}
.pageTop>div>.navigation>a:last-child{display:none}
.pageTop>div>.navigation>a.active{border-bottom:0.075rem solid #078ddc;color:#078ddc;}
@font-face{font-family:iconfont;src:url(/static/iconfont/iconfont.eot);src:url(/static/iconfont/iconfont.eot?#iefix) format('embedded-opentype'),url(/static/iconfont/iconfont.woff) format('woff'),url(/static/iconfont/iconfont.ttf) format('truetype'),url(/static/iconfont/iconfont.svg#iconfont) format('svg');}
.iconfont{font-style:normal;font-size:16px;font-family:iconfont!important;-webkit-font-smoothing:antialiased;-webkit-text-stroke-width:.2px;-moz-osx-font-smoothing:grayscale;}
@media (max-width: 767px) {
    .logoArea{float:none !important;}
    .pageTop>div{width:100%;height:1.5rem;line-height:1.5rem;}
    .pageTop>div>.navigation>a{padding:0 15px;}
    .pageTop>div>.navigation{float:none!important;display:table;margin:auto;}
}
@media (min-width: 768px) and (max-width: 991px) {
    .pageTop>div{width:750px;}
    .pageTop>div>.navigation>a{padding:0 20px;}
}
@media (min-width: 992px) and (max-width: 1199px) {
    .pageTop>div{width:900px;}
    .pageTop>div>.navigation>a{padding:0 25px;}
}
@media (min-width: 1200px) {
    .pageTop>div{width:1100px;}
    .pageTop>div>.navigation>a{padding:0 30px;}
}
.textAppear{animation: textAppear 10s; animation-fill-mode: forwards;}
@-webkit-keyframes textAppear{
    0%{opacity:0;}
    50%{opacity:0;}
    100%{opacity:1;}
}
@keyframes textAppear{
    0%{opacity:0;}
    50%{opacity:0;}
    100%{opacity:1;}
}
.canvasAppear{animation: canvasAppear 10s; animation-fill-mode: forwards;}
@-webkit-keyframes canvasAppear{
    0%{opacity:1;}
    50%{opacity:1;}
    100%{opacity:0;}
}
@keyframes canvasAppear{
    0%{opacity:1;}
    50%{opacity:1;}
    100%{opacity:0;}
}